body{
    font-family: Arial, sans-serif;
    background-color: #072e4c;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.age-calculator{
    width: 100%;
    max-width: 600px;
    color: #fff;
    text-align: center;
    padding: 30px;
    border-radius: 30px;
    background: linear-gradient(135deg, #4203a9, #90bafc);
}

.age-calculator span{
    color: rgb(243, 243, 10);
}

.age-calculator h1{
    font-size: 36px;
    margin: 0 0 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.age-calculator input{
    width: 60%;
    display: block;
    margin: 0 auto 20px;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 0;
}

.age-calculator button{
    width: 30%;
    display: block;
    margin: 0 auto 20px;
    font-size: 16px;
    padding: 13px;
    border-radius: 10px;
    border: 0;
    background: rgb(69, 69, 180);
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

.age-calculator button:hover{
    background: rgb(36, 36, 87);
}

#calculate_age{
    font-size: 24px;
}